---
import Base from '../../layouts/Base.astro';
import { getCollection } from 'astro:content';

const guides = (await getCollection('guides')).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---
<Base title="Guides">
  <div class="section-header">
    <h1>Guides</h1>
    <p>Reference guides and how-tos.</p>
  </div>

  <ul class="post-list">
    {guides.map(item => (
      <li>
        <h3><a href={`/guides/${item.id}/`}>{item.data.title}</a></h3>
        <time>{item.data.date.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}</time>
        {item.data.description && <p>{item.data.description}</p>}
      </li>
    ))}
  </ul>
</Base>
